* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "Press";
    src: url(Font/PressStart2P-Regular.ttf);
}

@font-face {
    font-family: "Pangolin";
    src: url(Font/Pangolin-Regular.ttf);
}

.header {
    background-color: rgb(26, 255, 0);
    font-family: "Press", sans-serif;
}

header {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0), 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0px;
}

.header_title {
    font-size: 3vw;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.nav a {
    text-decoration: none;
    color: rgb(39, 39, 39);
    transition: 0.2s;
    font-size: 1.5vw;
    font-family: "Press",monospace;
}

.nav {
    display: flex;
    gap: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
    flex-direction: column;
    background-color: rgb(26, 255, 0);
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.nav a:hover {
    color: red;
}

header {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0), 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.footer {
    background-color: black;
    color: white;
    font-family: "Press", sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

footer p {
    padding-bottom: 10px;
}

.sovet {
    font-family: "Pangolin", sans-serif;
    background-color: white;
    border-radius: 30px;
    padding-left: 30px;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    transition: 0.4s;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    padding-top: 25px;
    gap: 15px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

.main {
    background: linear-gradient(rgb(1, 162, 206), rgb(128, 0, 90));
}

.title {
    font-family: "Press", sans-serif;
    padding-top: 20px;
    background-color: black;
    color: white;
    padding-bottom: 20px;
    border-radius: 30px;
    transition: 0.4s;
}

.sovet h1 {
    display: flex;
    justify-content: center;
}

.name {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.title:hover {
    background-color: white;
    color: rgb(0, 0, 0);
}

@media screen and (max-width: 767px) {
    .header_title {
        font-size: 8vw;
        padding-left: 20px;
    }

    .nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }

    .nav a {
        font-size: 4vw;
        padding-left: 20px;
    }

    .footer_title {
        font-size: 17px;
        padding-left: 20px;
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .title {
        font-size: 4vw;
        padding-left: 10px;
        padding-right: 10px;
    }

    .title:hover {
        background: black;
        color: white;
    }

    .content {
        padding-left: 20px;
        padding-right: 20px;
    }

    .sovet {
        background: white;
    }

    .sovet:hover {
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }

}